<h1>Listing ope_kinds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Info</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ope_kinds.each do |ope_kind| %>
  <tr>
    <td><%= ope_kind.name %></td>
    <td><%= ope_kind.info %></td>
    <td><%= link_to 'Show', ope_kind %></td>
    <td><%= link_to 'Edit', edit_ope_kind_path(ope_kind) %></td>
    <td><%= link_to 'Destroy', ope_kind, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ope kind', new_ope_kind_path %>
