<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ope_kind.name %>
</p>

<p>
  <b>Info:</b>
  <%= @ope_kind.info %>
</p>


<%= link_to 'Edit', edit_ope_kind_path(@ope_kind) %> |
<%= link_to 'Back', ope_kinds_path %>
